.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/node_modules
/internals/packages/*/node_modules
/packages/*/node_modules
/packages/*/types
/packages/*/dist
/packages/*/demo
.nyc_output
coverage
tsconfig.tsbuildinfo
